@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #F3F3F3;
    height: 100vh;
}

.nav-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding-block: 15px;

}

ul {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
    font-family: poppins;
  cursor: pointer;

}


.nav-btn {
    padding: 10px 16px;
    border-radius: 7px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border: 2px solid #191A23;
    transition: all ease-in-out 0.3s;
}

.nav-btn:hover {
    background-color: #191A23;
    color: white;
}

.hero-section {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 15px;
    gap: 20px;
    margin-top: 45px;

}

.hero-section-left {
    width: 45%;
    /* background-color: green; */
    height: 450px;
}

.hero-section-right {
    width: 45%;
    /* background-color: blueviolet; */
}

.hero-section-right img {
    width: 100%;
}

.hero-section-left h1 {
    line-height: 60px;
    letter-spacing: 1.1px;
    padding-bottom: 25px;
    font-size: 55px;
    font-family: Roboto;
}

.hero-section-left p {
    padding-bottom: 25px;
    line-height: 25px;
    font-family: poppins;

}

.hero-btn {
    padding: 10px 16px;
    border-radius: 7px;
    background-color: black;
    color: white;
    border: none;
    border: 2px solid black;
    transition: all ease-in-out 0.3s;
    font-family: poppins;
    cursor: pointer;
}

.hero-btn:hover {
    background-color: #E6E6E6;
    color: black;
}

.logo {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: aqua; */
}